In [1]:
import os
import pandas as pd

In [35]:
csv_1000 = pd.read_csv(r"C:\Temp\asbuilt_finals\1000_asbuilts_final.csv")
csv_2000 = pd.read_csv(r"C:\Temp\asbuilt_finals\2000_asbuilts_final.csv")
csv_3000 = pd.read_csv(r"C:\Temp\asbuilt_finals\3000_asbuilts_final.csv")
csv_4000 = pd.read_csv(r"C:\Temp\asbuilt_finals\4000_asbuilts_final.csv")
csv_5000 = pd.read_csv(r"C:\Temp\asbuilt_finals\5000_asbuilts_final.csv")

In [36]:
csvs = [csv_1000, csv_2000, csv_3000, csv_4000, csv_5000]

In [37]:
all_csvs = pd.concat(csvs)

In [38]:
len(all_csvs["AsBuilt_Name"].unique())

2084

In [39]:
all_csvs.head()

,AsBuilt_Name,Pages,Pipe_type
0,101 Southwest Parkway 1914,7,['Good' 'Unknown']
1,12_ Water on Midway Road 1035,1,['Unknown']
2,1491 Kealy Ave 1449,3,['Unknown' 'Good' 'Bad']
3,2143 North Stemmons 1703,4,['Unknown' 'Good']
4,Austin Ranch West Off-Site Sanitary Sewer 1770,11,['Unknown' 'Good' 'Bad']

In [40]:
all_csvs.to_csv(r"C:\Temp\asbuilt_finals\1000_5000_asbuilts_final.csv")

In [13]:
##########
# Pages
csv_1000 = pd.read_csv(r"C:\Temp\asbuilt_finals\1000_asbuilts_max_pages.csv")
csv_2000 = pd.read_csv(r"C:\Temp\asbuilt_finals\2000_asbuilts_max_pages.csv")
csv_3000 = pd.read_csv(r"C:\Temp\asbuilt_finals\3000_asbuilts_max_pages.csv")
csv_4000 = pd.read_csv(r"C:\Temp\asbuilt_finals\4000_asbuilts_max_pages.csv")
csv_5000 = pd.read_csv(r"C:\Temp\asbuilt_finals\5000_asbuilts_max_pages.csv")
csvs = [csv_1000, csv_2000, csv_3000, csv_4000, csv_5000]
all_csvs = pd.concat(csvs)

In [41]:
len(all_csvs["AsBuilt_Name"].unique())
all_csvs.head()

,AsBuilt_Name,Pages,Pipe_type
0,101 Southwest Parkway 1914,7,['Good' 'Unknown']
1,12_ Water on Midway Road 1035,1,['Unknown']
2,1491 Kealy Ave 1449,3,['Unknown' 'Good' 'Bad']
3,2143 North Stemmons 1703,4,['Unknown' 'Good']
4,Austin Ranch West Off-Site Sanitary Sewer 1770,11,['Unknown' 'Good' 'Bad']

In [42]:
len(all_csvs)

2085

In [23]:
all_csvs.to_csv(r"C:\Temp\asbuilt_finals\1000_5000_asbuilts_max_pages.csv")

In [2]:
spat_asbuilts = pd.read_csv(r"C:\Temp\all_asbuilt_text_files\csv_files\asbuilts_final.csv")
spat_asbuilts.head()

                                  AsBuilt_Name  Pages    Pipe_type
0  $1.25 Dry Clean Super Center - 1257 FM 3040     20  ['Unknown']
1                                      0 Cover      1  ['Unknown']
2                                0 Cover Sheet      1  ['Unknown']
3                                 0 Final Plat      1  ['Unknown']
4                     0 Final Plat_PS Comments      1  ['Unknown']

In [44]:
len(spat_asbuilts)

8558

In [3]:
merged_df = all_csvs.merge(spat_asbuilts, on='AsBuilt_Name', how="inner")
merged_df.head()

NameError: name 'all_csvs' is not defined

In [46]:
len(merged_df)

6109

In [47]:
merged_df.to_csv(r"C:\Temp\asbuilt_finals\spatial_indexed_asbuilts.csv")