## Welcome to your notebook.

#### Run this cell to connect to your GIS and get started:

In [2]:
from arcgis.gis import GIS
#gis = GIS("home")

In [3]:
# !pip install beautifulsoup4
# !conda install beautifulsoup4
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json
import re

In [4]:
#url = "https://stats.oecd.org/Index.aspx?DataSetCode=RMW"
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_minimum_wage'
wage_response = requests.get(url)
print(wage_response.status_code)
soup = BeautifulSoup(wage_response.content)
# print(soup.prettify())

200

In [5]:
# /html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[187]/td[3]/span
# min_wage_data_text = soup.find_all('tr', {"id" : re.compile('row*')})
# min_wage_data_text[1]
min_wage_data_text = soup.find_all('tr')
min_wage_data_text[5].text.split('\n')

# country_names = soup.find_all(class_=re.compile('RowDimLab.*'))
# country_names[0]
min_wage_countries_list = []
for country in min_wage_data_text:
    if len(country) == 18:
        #print(country.get_text())
        #print(len(country.get_text().split('\n')))
        min_wage_countries_list.append(country.get_text().split('\n'))

In [7]:
#min_wage_countries_list
# 1, 3, 5, 21
min_wage_text_wiki_df = pd.DataFrame(min_wage_countries_list)
#min_wage_text_wiki_df

In [8]:
min_wages = min_wage_text_wiki_df[[1,3,5,21]]
#min_wages

In [9]:
min_wages.rename(columns={1: "CountryNames", 3: "Description", 5: "MinWage", 21: "LastUpdated"})

,CountryNames,Description,MinWage,LastUpdated
0,Afghanistan,"5,500 Afghani ($67) per month for non-permanen...",866,2017
1,Albania,"30,000 Albanian lekë ($280) per month, in priv...","3,277",5 May 2017
2,Algeria,"20,000 Algerian dinars ($156.19) per month, na...","2,010",1 May 2020
3,Andorra,"€1050.40 per month, €6.06 per hour.[16]","14,397",None
4,Angola,"21,454 kwanza ($58) per month; paid thirteen t...",764,1 April 2019
...,...,...,...,...
197,Venezuela,"The minimum wage in Venezuela is 400,000 Venez...",10.32,None
198,Vietnam,"Varies by region; Region I: VND 3,980,000 per ...","1,437",1 January 2018
199,Yemen,"None; the minimum civil service wage was 21,00...",,None
200,Zambia,Varies by sector; K993.60 Zambian kwacha ($81)...,925,10 September 2018
201,Zimbabwe,"None, except for agricultural and domestic wor...",,None